<!--
  Generated template for the ActuperPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Actualización de Datos</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

        <h1>Formulario de registro</h1>

    <form [formGroup]="RegPersona" (ngSubmit)="actualizarPer()" novalidate>
        <ion-list>
            <ion-item>
                <ion-label>Calendario</ion-label>
                <ion-datetime formControlName="fecNac" displayFormat="YYYY MM D" pickerFormat="YYYY MM D"></ion-datetime>
            </ion-item>
            <ion-item *ngIf="RegPersona.get('fecNac').errors && RegPersona.get('fecNac').dirty">
                <p color="danger" *ngIf="RegPersona.get('fecNac').hasError('required')">El campo es Requerido</p>
            </ion-item>

            <ion-item>
                <ion-label ion-text floating>Seleccion tipo</ion-label>
                <ion-select formControlName="tipo">
                    <ion-option value="1">C.C.</ion-option>
                    <ion-option value="2">T.I.</ion-option>
                    <ion-option value="3">PassPort</ion-option>
                    <ion-option value="4">Registro Civil</ion-option>
                    <ion-option value="5">C.E.</ion-option>
                </ion-select>
            </ion-item>
            <ion-item *ngIf="RegPersona.get('tipo').errors && RegPersona.get('tipo').dirty">
                <p color="danger" *ngIf="RegPersona.get('tipo').hasError('required')">El campo es Requerido</p>
            </ion-item>

            <ion-item>
                <ion-label ion-text floating># de Documentos</ion-label>
                <ion-input formControlName="numero" type="text"></ion-input>
            </ion-item>
            <ion-item *ngIf="RegPersona.get('numero').errors && RegPersona.get('numero').dirty">
                <p color="danger" ion-text *ngIf="RegPersona.get('numero').hasError('required')">El campo es Requerido</p>
                <p color="danger" ion-text *ngIf="RegPersona.get('numero').hasError('pattern')">no debe tener letras ni espacios y caracteres especiales, minimo 5 caracteres maximo 20</p>
            </ion-item>

            <ion-item>
                <ion-label ion-text floating>Ingrese Nombre</ion-label>
                <ion-input formControlName="nombre" type="text"></ion-input>
            </ion-item>
            <ion-item *ngIf="RegPersona.get('nombre').errors && RegPersona.get('nombre').dirty">
                <p color="danger" ion-text *ngIf="RegPersona.get('nombre').hasError('required')">El campo es Requerido</p>
                <p color="danger" ion-text *ngIf="RegPersona.get('nombre').hasError('pattern')">no debe tener numeros, minimo 2 caracteres maximo 30</p>
            </ion-item>

            <ion-item>
                <ion-label ion-text floating>Ingrese Apellidos</ion-label>
                <ion-input formControlName="apellido" type="text"></ion-input>
            </ion-item>
            <ion-item *ngIf="RegPersona.get('apellido').errors && RegPersona.get('apellido').dirty">
                <p color="danger" ion-text *ngIf="RegPersona.get('apellido').hasError('required')">El campo es Requerido</p>
                <p color="danger" ion-text *ngIf="RegPersona.get('apellido').hasError('pattern')">no debe tener numeros, minimo 2 caracteres maximo 30</p>
            </ion-item>

            <ion-item>
                <ion-label ion-text floating>Ingrese Telefono</ion-label>
                <ion-input formControlName="tele" type="text"></ion-input>
            </ion-item>
            <ion-item *ngIf="RegPersona.get('tele').errors && RegPersona.get('tele').dirty">
                <p color="danger" ion-text *ngIf="RegPersona.get('tele').hasError('required')">El campo es Requerido</p>
                <p color="danger" ion-text *ngIf="RegPersona.get('tele').hasError('pattern')">no debe tener letras ni espacios y caracteres especiales, minimo 7 caracteres maximo 15</p>
            </ion-item>

            <ion-item>
                <ion-label ion-text floating>Ingrese Email</ion-label>
                <ion-input formControlName="email" type="text"></ion-input>
            </ion-item>
            <ion-item *ngIf="RegPersona.get('email').errors && RegPersona.get('email').dirty">
                <p color="danger" ion-text *ngIf="RegPersona.get('email').hasError('required')">El campo es Requerido</p>
                <p color="danger" ion-text *ngIf="RegPersona.get('email').hasError('pattern')">Ej: 123@123.com</p>
                <p color="danger" ion-text *ngIf="RegPersona.get('email').hasError('maxLength')">Maximo 30 Caracteres</p>
            </ion-item>


            <ion-item>
                <button type="submit" ion-button [disabled]="!RegPersona.valid">Almacenar</button>
                <button type="button" ion-button color="danger" style="float: right;">Limpiar</button>
            </ion-item>
        </ion-list>
    </form>
    
</ion-content>
