// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.



@font-face{

    font-family:'justify';
    src:url(../assets/fonts/Justify.ttf);

}


@font-face{

    font-family:'sourcecodepro-bold';
    src:url(../assets/fonts/SourceCodePro-Bold.ttf);

}

ion-card-title{

    font-family:'justify';
    color:#AB1A45 !important;
    font-weight:bold;
    text-align: center;
    background: rgba(172,244,220,0.5);
}

h2{

    font-family: 'sourcecodepro-bold';
    color:blue !important;
    font-weight: bold;

}


ion-content{

    background: rgba(62,138,32,1);
    background: -moz-linear-gradient(-45deg, rgba(62,138,32,1) 10%, rgba(70,182,112,1) 20%, rgba(75,209,160,1) 26%, rgba(224,83,191,1) 50%, rgba(28,21,130,1) 87%, rgba(28,21,130,1) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(10%, rgba(62,138,32,1)), color-stop(20%, rgba(70,182,112,1)), color-stop(26%, rgba(75,209,160,1)), color-stop(50%, rgba(224,83,191,1)), color-stop(87%, rgba(28,21,130,1)), color-stop(100%, rgba(28,21,130,1)));
    background: -webkit-linear-gradient(-45deg, rgba(62,138,32,1) 10%, rgba(70,182,112,1) 20%, rgba(75,209,160,1) 26%, rgba(224,83,191,1) 50%, rgba(28,21,130,1) 87%, rgba(28,21,130,1) 100%);
    background: -o-linear-gradient(-45deg, rgba(62,138,32,1) 10%, rgba(70,182,112,1) 20%, rgba(75,209,160,1) 26%, rgba(224,83,191,1) 50%, rgba(28,21,130,1) 87%, rgba(28,21,130,1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(62,138,32,1) 10%, rgba(70,182,112,1) 20%, rgba(75,209,160,1) 26%, rgba(224,83,191,1) 50%, rgba(28,21,130,1) 87%, rgba(28,21,130,1) 100%);
    background: linear-gradient(135deg, rgba(62,138,32,1) 10%, rgba(70,182,112,1) 20%, rgba(75,209,160,1) 26%, rgba(224,83,191,1) 50%, rgba(28,21,130,1) 87%, rgba(28,21,130,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3e8a20', endColorstr='#1c1582', GradientType=1 );



}